.angled-headers-table {
  // margin-right: 6em;
  border-collapse: collapse;

  th,
  td {
    padding: 0.5em;
    border-top: 1px solid;
  }

  th {
    padding: 0;
    position: relative;
    border: 1px solid;
    max-height: 300px;
    overflow: hidden;
    cursor: pointer;
    > .innerDiv {
      white-space: break-spaces;
      padding: 0.5em;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }

    &:first-child {
      border-left: 1px solid;

      > .innerDiv {
        margin: 0;
        writing-mode: horizontal-tb;
        transform: none;
      }
    }
  }

  td {
    border: 1px solid black;
  }
  .td-data {
    cursor: pointer;
  }
}

.active-col {
  background: #ffedd9;
}

.table-continer-inner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.count-tr {
  background-color: #f2f2f2;
  font-weight: bold;
}
